body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
#main {
  width: 800px;
  height: 600px;
}
.selectEditor,
.selectEditor .el-select,
.selectEditor .el-select__wrapper {
  height: 100%;
}
.selectEditor .el-select__wrapper{
  border-radius: 0;
}
